# Ignore all .mp4 files, including in subdirectories
**/*.mp4

# Ignore Maven build directory
/target/

# Ignore Maven wrapper files
.mvn/
!mvnw
!mvnw.cmd

# Ignore IntelliJ IDEA project files
/.idea/
/*.iml

# Ignore Eclipse project files
/.project
/.classpath
/.settings/

# Ignore NetBeans project files
/nbproject/

# Ignore MacOS system files
.DS_Store

# Ignore Windows system files
Thumbs.db
ehthumbs.db

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.bak
*.swp

# Ignore any build artifacts
/build/
