eureka:
  client:
    registerWithEureka: true
    fetchRegistry: true
    serviceUrl:
      #Link to eureka server.
      defaultZone: http://localhost:8761/eureka/
  instance:
    hostname: localhost
server:
  port: 9999
spring:
  application:
    name: SHOPPING-SERVICE